/* Style untuk header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
  
/* Style untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

form button {
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color:#ffffff;
    cursor: pointer;
}

.action-button form button[type="submit"]{
    border: 1px solid #ff5900;
    background-color: #ff5900;
}

h1 {
text-align: center;
}

.content {
margin: auto;
align-content: center;
width: 50%;
border: 3px solid #95C8D4;
padding: 10px;
}

.menu ul.horizontal-list {
display: flex;
justify-content: center; /* Horizontally center items */
padding: 0;
}

.menu ul.horizontal-list li {
list-style: none;
margin: 0 10px; /* Adjust margin as needed */
}